.nav-button {
  color: white !important;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  padding-bottom: 28px;
}

.nav-button:hover {
  color: #181d46 !important;
}

.action {
  border-radius: 30px;
  border-width: 4px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 24px;
  letter-spacing: 0.08em;
  width: 210px;
  color: #fda094;
  border-color: #fda094;
}

.action:hover {
  background-color: #fda094;
  border-color: #fda094;
  color: white;
}

.top {
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 100;
  letter-spacing: 0em;
}

.middle {
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 780;
  font-size: 72px;
  letter-spacing: 0em;
  line-height: 64px;
}

.bottom {
  color: white;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  padding: 8px 0px 16px 0px;
}

.involved_header {
  border-radius: 10px;
  background-color: #181d46;
  color: white;
  display: flex;
  height: 60px;
  justify-content: left;
  padding-left: 5%;
  align-items: center;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 18px;
  letter-spacing: 0.095em;
}

.involved_header:hover {
  cursor: pointer;
}

.card {
  background-color: white;
  border-radius: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.card-title {
  color: #333f9b;
  font-family: "Barlow", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: normal;
}

.card-text {
  color: #333f9b;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: normal;
}

.btn-custom {
  color: white;
  background-color: #333f9b;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-size: 22px;
}

.btn-custom:hover {
  color: #333f9b;
  background-color: white;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: bold;
}

.accordion {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.accordion-body {
  text-align: left;
  color: #ffffff;
  background-color: #181d46;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.accordion-button {
  color: #ffffff;
  font-weight: bold;
  background-color: #181d46;
  border-radius: 15px !important;
}

.accordion-button.collapsed::after {
  background-image: color(#ffffff);
}

.accordion-flush {
  padding-bottom: 8px;
}

.row a:hover {
  color: #181d46;
}

.faq {
  background-color: #181d46;
  border-radius: 15px !important;
}

tr:hover {
  background-color: #fda094;
  color: black;
  cursor: pointer;
}
