.nav-button {
  color: white !important;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  padding-bottom: 28px;
}

.action {
  border-radius: 30px;
  border-width: 4px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 24px;
  letter-spacing: 0.08em;
  width: 210px;
  color: #fda094;
  border-color: #fda094;
}

.action:hover {
  background-color: #fda094;
  border-color: #fda094;
  color: black;
}

.top {
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 100;
  letter-spacing: 0em;
}

.middle {
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 780;
  font-size: 64px;
  letter-spacing: 0em;
  line-height: 64px;
}

.bottom {
  color: white;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  padding: 8px 0px 16px 0px;
}

.faq-button {
  border-radius: 15px;
}

.involved_header {
  border-radius: 10px;
  background-color: #181d46;
  color: white;
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
